convert the datetime-column of csv to a python-datetime object

In [2]:
import pandas as pd
from dateutil import parser
df=pd.read_csv("data/healthy_person1.csv",header=None,date_parser=True)
#convert to datetime index, with dateutil sl no is converted to datatime
df=df.set_index(df[0].map(parser.parse))
#print(df.head(5))
#grouped=df.groupby[1]
#df[1].head(5)
#df.count()
#df[1].groupby(pd.TimeGrouper('10S')).head()
#df[1].groupby(pd.Grouper(freq='L')).head()
#df[0].rolling(freq='20L',center=False,window=100).mean()
df.resample("s").mean()#.fillna(0).rolling(window=1, min_periods=1).mean()
#df.resample("s").mean().count()

                              1
0
2015-10-17 21:05:10  497.346591
2015-10-17 21:05:11  498.031088
2015-10-17 21:05:12  511.863158
2015-10-17 21:05:13  515.165803
2015-10-17 21:05:14  512.500000
2015-10-17 21:05:15  497.108247
2015-10-17 21:05:16  504.168421
2015-10-17 21:05:17  522.813472
2015-10-17 21:05:18  514.152632
2015-10-17 21:05:19  496.046632
2015-10-17 21:05:20  499.763158
2015-10-17 21:05:21  497.243523
2015-10-17 21:05:22  522.194737
2015-10-17 21:05:23  531.782383
2015-10-17 21:05:24  491.110526
2015-10-17 21:05:25  500.953368
2015-10-17 21:05:26  507.911917
2015-10-17 21:05:27  513.110526
2015-10-17 21:05:28  525.046632
2015-10-17 21:05:29  495.505263
2015-10-17 21:05:30  506.010309
2015-10-17 21:05:31  513.389474
2015-10-17 21:05:32  510.647668
2015-10-17 21:05:33  513.989474
2015-10-17 21:05:34  507.378238
2015-10-17 21:05:35  498.821053
2015-10-17 21:05:36  497.637306
2015-10-17 21:05:37  531.773684
2015-10-17 21:05:38  507.310881
2015-10-17 21:05:39  491.915789
2015-10-17 21:05:40  497.331606
2015-10-17 21:05:41  535.189474
2015-10-17 21:05:42  511.668394
2015-10-17 21:05:43  496.284974
2015-10-17 21:05:44  497.705263
2015-10-17 21:05:45  523.211340
2015-10-17 21:05:46  514.810526
2015-10-17 21:05:47  494.471503
2015-10-17 21:05:48  505.710526
2015-10-17 21:05:49  522.896373
2015-10-17 21:05:50  509.942105
2015-10-17 21:05:51  495.906736
2015-10-17 21:05:52  507.378947
2015-10-17 21:05:53  521.642487
2015-10-17 21:05:54  511.973684
2015-10-17 21:05:55  506.818653
2015-10-17 21:05:56  506.610526
2015-10-17 21:05:57  468.222222